Makefile*
*.tgz
*.bz2
.qmake.*
*.dll
*.crt
*.key
Debug/
Release/
Output/
bin/*.dll
DebugStatic/
ReleaseStatic/
StaticRelease/
StaticDebug/
release/
debug/
Deploy/
ARMDebug/
ARMRelease/
GeneratedFiles/
libSyntro*
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.x470MV
*.o470MV
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
openexr-mac/
openexr-1.4.0-vsnet2003/
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
*.dat
